Package: gir1.2-totem-1.0
Source: totem
Version: 3.34.1-2ubuntu2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 47
Depends: gir1.2-glib-2.0 (>= 0.9.12), gir1.2-gtk-3.0 (>= 3.19.4), gir1.2-totemplparser-1.0 (>= 3.10.1), libtotem0 (<< 3.35), libtotem0 (>= 3.34.1-2ubuntu2)
Section: introspection
Priority: optional
Multi-Arch: same
Homepage: https://wiki.gnome.org/Apps/Videos
Description: GObject introspection data for Totem media player
 Totem is a simple yet featureful media player for GNOME which can read
 a large number of file formats.
 .
 This package contains introspection data for the Totem media player.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
