Package: libtotem-dev
Source: totem
Version: 3.34.1-2ubuntu2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 154
Depends: libtotem0 (= 3.34.1-2ubuntu2), gir1.2-totem-1.0 (= 3.34.1-2ubuntu2), libglib2.0-dev, libgtk-3-dev, libtotem-plparser-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://wiki.gnome.org/Apps/Videos
Description: Main library for the Totem media player - development files
 This package contains development files for the Totem media player library.
 .
 You may need it to develop plugins for Totem.
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
