Package: totem
Version: 3.34.1-2ubuntu2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 364
Depends: libc6 (>= 2.28), libcairo2 (>= 1.14.0), libgdk-pixbuf2.0-0 (>= 2.23.0), libglib2.0-0 (>= 2.35.0), libgstreamer-plugins-base1.0-0 (>= 1.0.0), libgstreamer1.0-0 (>= 1.6.0), libgtk-3-0 (>= 3.19.4), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libtotem-plparser18 (>= 3.26.0), libtotem0 (>= 3.34.1-2ubuntu2), libtotem0 (<< 3.35), libx11-6, grilo-plugins-0.3-base, totem-common (>= 3.34.1-2ubuntu2), gsettings-desktop-schemas, gstreamer1.0-clutter-3.0, gstreamer1.0-plugins-base (>= 1.6.0), gstreamer1.0-plugins-good (>= 1.10), gstreamer1.0-x
Recommends: gstreamer1.0-pulseaudio, totem-plugins
Suggests: gstreamer1.0-plugins-bad, gstreamer1.0-libav, gstreamer1.0-plugins-ugly, gnome-codec-install
Section: video
Priority: optional
Homepage: https://wiki.gnome.org/Apps/Videos
Description: Simple media player for the GNOME desktop based on GStreamer
 Totem is a simple yet featureful media player for GNOME which can read
 a large number of file formats. It features :
 .
    * Shoutcast, m3u, asx, SMIL and ra playlists support
    * DVD (with menus), VCD and Digital CD (with CDDB) playback
    * TV-Out configuration with optional resolution switching
    * 4.0, 5.0, 5.1 and stereo audio output
    * Full-screen mode (move your mouse and you get nice controls) with
      Xinerama, dual-head and RandR support
    * Aspect ratio toggling, scaling based on the video's original size
    * Full keyboard control
    * Simple playlist with repeat mode and saving feature
    * GNOME, Nautilus and GIO integration
    * Screenshot of the current movie
    * Brightness and Contrast control
    * Visualisation plugin when playing audio-only files
    * Video thumbnailer for nautilus
    * Nautilus properties page
    * Works on remote displays
    * DVD, VCD and OGG/OGM subtitles with automatic language selection
    * Extensible with plugins
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
